html,
body{
	box-sizing: border-box;
	height: 110%;
	overflow: hidden;
}
body{
	background: linear-gradient(red, yellow);
}
#imgload{
    display: none;
}
#gameareacontainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
#gamearea{
	display: flex;
	flex-direction: column;
}
#info>p{
	white-space: pre-line;
}
canvas{
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

#json{
    margin: auto;
    display: none;
    background-color: white;
    border: 1px dotted black;
    z-index: 100;
    position: absolute;
    width: 50%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: normal;
    top: 0px;
}

.editbox{
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100px;
    background-color: black;
}

.editbox>input{
    width: 80%;
}

.ruksi{
    position: absolute;
    color: red;
    top: 0px;
    right: 0px;
}
#info{
        display: none;
	border: 1px solid black;
	margin: 10px;
        flex-flow: row nowrap;
        justify-content: space-between;        
}
#info > div{
    display: flex;
    flex-direction: column;
}

#info > div > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}